function Bitmap.drawBitmap 0
push argument 0
pop pointer 0
push constant 10
call Bitmap.draw 1
pop temp 0
push constant 0
return
function Bitmap.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 40
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 72
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 136
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 264
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 520
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1032
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 14344
call Memory.poke 2
pop temp 0
push constant 0
return
